#main-header img {
  width: 100%;
  height: 100%;
}
.myIcon{
  font-size : 35px;
}
.myIcon1{
  color : orange;
}

.myIcon2{
  color :rgb(53, 133, 224);
}

.myIcon3{
  color : rgb(228, 181, 26);
}

.myIcon4{
  color : skyblue;
}


#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

.myProject{
 display: block;
 position: relative;
  margin : 0;

}
.myProject img {
  padding :0;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top : 0;
  left: 0;
  transition: all 1s;
  padding : 0;
  border-radius: 4px;
}

.overlay-item{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  width : 20%;
  opacity: 0;
  transition: all 1s;
}
@media screen and (max-width: 992px) {
  .overlay-item{
    width:50%;
    font-size: 2rem;
  }
}
.overlay-item a:link , .overlay-item a:visited {
  text-decoration: none;
  color: white;
}

.overlay-item a:hover {
  color: rgba(255, 255, 255, 0.308);
}


.myProject:hover .overlay{
  background-color: rgba(0, 0, 0, 0.692);
}

.myProject:hover .overlay-item{
  opacity: 1;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
